.card1{
    background-color: #ffa500; 
    width: 500px; 
    height: 500px;
}

.card2{
    background-color: #90ee90; 
    width: 50%; 
    height: 50% ;
}

.pEstilo{
    color: white; 
    background-color: 
    red; font-size: 25px; 
    font-family: monospace; 
    font-weight: bold;
}

.card3{
    width: 50%; height: 50vh; 
    background-color: rgb(20, 204, 221)
}

.card4{
    width: 75vw; 
    height: 50%; 
    background-color: rgb(154, 14, 14);
}